@model IEnumerable<CMS.DocumentEngine.Types.Team>
@{
    ViewBag.Title = "AllTeams";
}

<h2>All teams</h2>

<div>
    @Html.ActionLink("View all teams section", "AllSections", "Teams", null, new { @class = "btn btn-default", @style = "float:left" })
    @using (@Html.BeginForm())
    {
        @Html.TextBox("filterWord", null, new { @class = "form-control", @placeholder = "Search word", @style = "float:right" })
        <input type="submit" value="Search" style="float:right" class="btn btn-default" />
    }
</div>
<table class="table table-striped table-hover table-bordered">
    <tr>
        <th>
            @Html.ActionLink("Team name", "Index", new { sortOrder = ViewBag.NameSortParam })
        </th>
        <th>
            @Html.ActionLink("Team delivery", "Index", new { sortOrder = ViewBag.DeliverySortParam})
        </th>
        <th>Available positions</th>
        <th></th>
    </tr>

    @foreach (var team in Model)
    {
        <tr>
            <td>
                @team.Fields.Name
            </td>
            <td>
                @team.Fields.Delivery
            </td>
            <td>
                @team.Fields.AvailablePositions
            </td>
            <td>
                <div class="btn-group" role="group">
                    <a class="btn btn-default" href="@Url.Action("TeamDetails", "Teams", new { id = team.NodeID})">
                        Details
                        <span class="glyphicon glyphicon-zoom-in" aria-hidden="true">
                        </span>
                    </a>
                </div>
            </td>
        </tr>
    }
</table>

<div>
    @Html.ActionLink("Back to List", "Index", "Home", null, new { @class = "btn btn-default" })
</div>

