@model HRMS.Models.ViewModels.TeamViewModel
@{
    ViewBag.Title = "TeamDetails";
}

<h2>Team details</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            Team name
        </dt>
        <dd>
            @Model.Team.Fields.Name
        </dd>
        <dt>
            Team delivery
        </dt>
        <dd>
            @Model.Team.Fields.Delivery
        </dd>
        <dt>
            Available positions
        </dt>
        <dd>
            @Model.Team.Fields.AvailablePositions
        </dd>
        <dt>
            Description
        </dt>
        <dd>
            @Model.Team.Fields.Description
        </dd>
    </dl>
</div>

<h3>Team members</h3>
<table class="table table-striped table-hover table-bordered">
    <tr>
        <th>
            @Html.ActionLink("First name", "TeamDetails", new { sortOrder = ViewBag.FirstNameSortParam})
        </th>
        <th>
            @Html.ActionLink("Last name", "TeamDetails", new { sortOrder = ViewBag.LastNameSortParam})
        </th>
        <th>
            @Html.ActionLink("Employee position", "TeamDetails", new { sortOrder = ViewBag.PositionSortParam})
        </th>
        <th></th>
    </tr>

    @foreach (CMS.DocumentEngine.Types.Employee member in Model.Members)
    {
        <tr>
            <td>
                @member.Fields.FirstName
            </td>
            <td>
                @member.Fields.LastName
            </td>
            <td>
                @member.Fields.Position
            </td>
            <td>
                <div class="btn-group" role="group">

                    <a class="btn btn-default" href="@Url.Action("EmployeeDetails", "Employees", new { id = @member.NodeID, teamSectionId = @Model.Team.NodeID })">
                        Details
                        <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
                    </a>

                </div>
            </td>
        </tr>
    }
</table>

<td>
    @Html.ActionLink("Back", "SectionDetails", "Teams", new { id = @Model.Team.NodeParentID }, new { @class = "btn btn-default" })
</td>