@model CMS.DocumentEngine.Types.Employee
@{
    ViewBag.Title = "EmployeeDetails";
}

<div>
    <h4>Employee details</h4>
    <hr />
    @if (@Model.Fields.Picture != null)
    {
        <img src="@Url.Kentico().Attachment(@Model.Fields.Picture)" />
    }
    else
    {
        <img src="~/Images/default-profile-image.png" />
    }
    <dl class="dl-horizontal">

        <dt>
            First name:
        </dt>

        <dd>
            @Model.Fields.FirstName
        </dd>

        <dt>
            Last name:
        </dt>

        <dd>
            @Model.Fields.LastName
        </dd>

        <dt>
            Position:
        </dt>

        <dd>
            @Model.Fields.Position
        </dd>

        <dt>
            Email:
        </dt>

        <dd>
            @Model.Fields.Email
        </dd>

        <dt>
            Mobile phone:
        </dt>

        <dd>
            @Model.Fields.MobilePhone
        </dd>

        <dt>
            Address:
        </dt>

        <dd>
            @Model.Fields.Address
        </dd>

        <dt>
            Status:
        </dt>

        <dd>
            @Model.Fields.Status
        </dd>

        <dt>
            CV:
        </dt>

        <dd>
            @if (@Model.Fields.CV != null)
            {
                <a href="@Url.Kentico().Attachment(@Model.Fields.CV)">Click to get the CV</a>
            }
        </dd>

    </dl>
</div>

@if (ViewBag.ParentId != null)
{
    <div>
        @Html.ActionLink("Back to the team", "TeamDetails", "Teams", new { id = ViewBag.ParentId }, new { @class = "btn btn-default" })
    </div>
}
else if (ViewBag.EmployeeSectionId != null)
{
    <div>
        @Html.ActionLink("Back to the section", "SectionDetails", "Employees", new { id = ViewBag.EmployeeSectionId }, new { @class = "btn btn-default" })
    </div>
}
else
{
    <div>
        @Html.ActionLink("Back to all employees", "Index", null, new { @class = "btn btn-default" })
    </div>
}
