@model IEnumerable<CMS.DocumentEngine.Types.Employee>
@{
    ViewBag.Title = "AllEmployees";
}

<h2>All employees</h2>

<div>
    @Html.ActionLink("View free employee sections", "AllSections", "Employees", null, new { @class = "btn btn-default" })
</div>
<table class="table table-striped table-hover table-bordered">
    <tr>
        <th>
            @Html.ActionLink("First name", "Index", new { sortOrder = ViewBag.FirstNameSortParam})
        </th>
        <th>
            @Html.ActionLink("Last name", "Index", new { sortOrder = ViewBag.LastNameSortParam})
        </th>
        <th>
            @Html.ActionLink("Employee position", "Index", new { sortOrder = ViewBag.PositionSortParam})
        </th>
        <th>
            Email
        </th>
        <th></th>
    </tr>

    @foreach (var employee in Model)
    {
        <tr>
            <td>
                @employee.Fields.FirstName
            </td>
            <td>
                @employee.Fields.LastName
            </td>
            <td>
                @employee.Fields.Position
            </td>
            <td>
                @employee.Fields.Email
            </td>
            <td>
                <div class="btn-group" role="group">

                    <a class="btn btn-default" href="@Url.Action("EmployeeDetails", "Employees", new { id = @employee.NodeID })">
                        Details
                        <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
                    </a>

                </div>
            </td>
        </tr>
    }
</table>

<div>
    @Html.ActionLink("Back to List", "Index", "Home", null, new { @class = "btn btn-default" })
</div>



