@model IEnumerable<CMS.DocumentEngine.Types.Employee>
@{
    ViewBag.Title = "AllEmployees";
}

<h2>All employees</h2>

<div>
    @Html.ActionLink("View free employee sections", "AllSections", "Employees", null, new { @class = "btn btn-default", @style = "float:left" })

    @using (@Html.BeginForm())
    {
        @Html.TextBox("filterWord", null, new { @class = "form-control", @placeholder = "Search word", @style = "float:right" }) 
        <input type="submit" value="Search" style="float:right" class="btn btn-default" />
    }
</div>
<table class="table table-striped table-hover table-bordered">
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Employee position</th>
        <th>Email</th>
        <th></th>
    </tr>

    @foreach (var employee in Model)
    {
        <tr>
            <td>
                @employee.Fields.FirstName
            </td>
            <td>
                @employee.Fields.LastName
            </td>
            <td>
                @employee.Fields.Position
            </td>
            <td>
                @employee.Fields.Email
            </td>
            <td>
                <div class="btn-group" role="group">

                    <a class="btn btn-default" href="@Url.Action("EmployeeDetails", "Employees", new { id = @employee.NodeID })">
                        Details
                        <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
                    </a>

                </div>
            </td>
        </tr>
    }
</table>

<div>
    @Html.ActionLink("Back to List", "Index", "Home", null, new { @class = "btn btn-default" })
</div>



